{% extends 'frontend/base.html' %}
{% load static %}
{% block content %}
    
    <section id="best_feature_06" style="padding-top: 5%;">
        <div class="container">
            <div class="row">        
                <div class="col-sm-12">
                    <div class="sub-title">
                        <!-- <h6>How it Works</h6> -->
                        <h2>Find an Expert or Investment Banker</h2>
                        <!-- <p>Due to the use of large computing power is assistant will instantly analyze user data offer solutions for their further use orem Ipsum has been the industry's st</p> -->
                    </div>
                </div>
            </div>
            <div class="custom-select" style="width:200px;">
                <select>
                  <option value="0">Select City</option>
                  <option value="1">Delhi</option>
                  <option value="2">Mumbai</option>
                  <option value="3">Noida</option>
                  <option value="4">South Noida</option>
                  <option value="5">Gurgaon</option>
                </select>
            </div>          
            <div class="row feature_items d-flex justify-content-between">        
                <div class="col-sm-12 col-md-6 col-lg-4 single-wrapper">
                    <div class="single-items wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                        <a href="bankersdetails.html"><img src="images/icons/sachin.png" alt=""></a>
                        <h3>SACHIN KUMAR</h3>
                        <h3>NOIDA</h3>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever since the when an make a type specimen book. </p>
                    </div>
                </div>
    
                 <div class="col-sm-12 col-md-6 col-lg-4 single-wrapper">
                    <div class="single-items wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
                        <img src="images/icons/bob.jpeg" alt="" >
                        <h3>BOB SINGH</h3>
                        <h3>NOIDA</h3>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever since the when an make a type specimen book. </p>
                    </div>
                </div>
    
                 <div class="col-sm-12 col-md-6 col-lg-4 single-wrapper">
                    <div class="single-items wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
                        <img src="images/icons/0001.jpg" alt="">
                        <h3>NEHARIKA KUSHWAH</h3>
                        <h3>DELHI</h3>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever since the when an make a type specimen book. </p>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4 single-wrapper" style="padding-top: 2%;">
                    <div class="single-items wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
                        <img src="images/icons/00001.jpg" alt="" >
                        <h3>TUSHI SINGH</h3>
                        <h3>NOIDA</h3>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever since the when an make a type specimen book. </p>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4 single-wrapper" style="padding-top: 2%;">
                    <div class="single-items wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
                        <img src="images/icons/000001.jpg" alt="">
                        <h3>SHEFALI WASNIK</h3>
                        <h3>NAGPUR</h3>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever since the when an make a type specimen book. </p>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4 single-wrapper" style="padding-top: 2%;">
                    <div class="single-items wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
                        <img src="images/icons/0000001.png" alt="" >
                        <h3>MANSI</h3>
                        <h3>DELHI</h3>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever since the when an make a type specimen book. </p>
                    </div>
                </div>
                <!-- <h2 style="color: white;">Unlisted Shares</h2>
                <p>Unlisted shares are the shares of the companies which are not listed on any stock exchange and thereby it is not traded publicly. The shareholders of such unlisted companies do not get the privilege which are available to the shareholders of companies listed on stock exchanges (i.e BSE/ NSE/ MSEI). Shares of unlisted companies may get listed in future on the stock exchanges. We facilitate trades in such unlisted shares by matching buyers and sellers thereby enabling liquidity to current shareholders and enabling new investors to participate in future growth of the company.</p> -->
            </div>  
        </div>
        <span class="shape1 header-shape"><img src="images/shape/home_6/feature-1.png" alt=""></span>
        <div id="particles4-js" class="particles"></div>  
    </section> <!-- End best_feature -->

    <section id="ico_news_02" class="ico_news_02" style="padding-top: 5%;">
        <div class="container">
            <div class="row">        
                <div class="col-sm-12">
                    <div class="title-wrapepr">
                        <div class="news-title"> 
                            <div class="sub-title">
                                <h2 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">Woo Funds</h2>
                                <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">NRM assistant will instantly analyze user data use.</p>
                            </div>
                            <a href="#" class="more_news  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s"><i class="flaticon-right-arrow"></i>More News</a> 
                        </div> 
                    </div>
    
                </div>
            </div>
            <div class="row  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                <div class="col-sm-6 col-md-6  col-lg-4 single-blog-wrapper">
                    <div class="singel-blog">
                        <h3><a href="#" title="" style="color: white;" >Crypto can I use to purchase</a></h3>
                        <div class="post-date d-flex justify-content-between">
                            <span class="date">15 june, 2020</span>
                            <span class="time">3 min</span>
                        </div>  
                        <p>Artificial intelligence based on neural networks, built using the newest algorithms for self learning, analysis comparison of neurons in which will be self-corrected, based on the history.</p>
                        <a href="https://www.ecologytheme.com/theme/cryptonio/read_more_btn" title="">Read More</a>
                    </div>   
                </div>        
    
                <div class="col-sm-6 col-md-6  col-lg-4  single-blog-wrapper">
                    <div class="singel-blog">
                        <h3><a href="#" title="" style="color: white;">Dinatiy ICO compss press</a></h3>
                        <div class="post-date d-flex justify-content-between">
                            <span class="date">june 15, 2020</span>
                            <span class="time">3 min</span>
                        </div>  
                        <p>Artificial intelligence based on neural networks, built using the newest algorithms for self learning, analysis comparison of neurons in which will be self-corrected, based on the history.</p>
                        <a href="https://www.ecologytheme.com/theme/cryptonio/read_more_btn" title="">Read More</a>
                    </div>   
                </div>          
    
                <div class="col-sm-6 col-md-6  col-lg-4  single-blog-wrapper">
                    <div class="singel-blog">
                        <h3><a href="#" title="" style="color: white;">We are listed in an Exchange</a></h3>
                        <div class="post-date d-flex justify-content-between">
                            <span class="date">july 15, 2020</span>
                            <span class="time">3 min</span>
                        </div>  
                        <p>Artificial intelligence based on neural networks, built using the newest algorithms for self learning, analysis comparison of neurons in which will be self-corrected, based on the history.</p>
                        <a href="https://www.ecologytheme.com/theme/cryptonio/read_more_btn" title="">Read More</a>
                    </div>   
                </div>
                <!-- <div class="container" style="padding-top: 5%;">
                    <h2 class=" wow fadeInUp; text-center" data-wow-duration="2s" data-wow-delay=".2s" style="color: white;">Buy unlisted or Pre IPO shares</h2><br/>
                    <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s"><b>How to buy best unlisted/ Pre-IPO shares online?</b><br/>
                    If you are getting the question that how to buy best unlisted shares online than your search ends here. We are group of professionals based out of Mumbai helping investors to invest in unlisted shares online.</p>
                </div> -->
            </div>
        </div>
    </section> <!-- End ico_news -->
    <div class="container">
    <video width="1000" height="500" autoplay muted>
        <source src="images/video/Employee Training Series.mp4" type="video/mp4">
    </video>
    </div>
{% endblock %}  

    