{% extends 'frontend/base1.html' %}
{% load static %}
{% block content %}

<section class="hero-wrap hero-wrap-2" style="background-image:url({% static 'frontend/images/bg_5.jpg' %})" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
    <div class="col-md-9 ftco-animate mb-5 text-center">
    <p class="breadcrumbs mb-0"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Services <i class="fa fa-chevron-right"></i></span></p>
    <h1 class="mb-0 bread">disclaimer</h1>
    </div>
    </div>
    </div>
    </section>

    <div class="container" style="padding-top: 5%;">
        <h3 style="color: chartreuse;">DISCLAIMER </h3>
        <p><b>Welcome to Woo Funds.</b></p>
        <p align="justify">Woo Funds acts as an intermediator between the investor and start-up companies and enable the start-up companies to get the required funds for their companies. WOO Funds is a distinct and separate entity and the services rendered by
             them are different from Stock Exchange set up under the provisions of Securities Contract Regulation Act, 1956.</p>
        <p align="justify">Woo Funds do not provide any advice to buy and sell any stock from our website. The buyers and sellers should consult their financial/legal advisors before purchasing unlisted securities from WOO Funds website.        </p>    
        <p align="justify">We are not be held responsible for any loss occurred out of unlisted shares as it is already mentioned to take advice of your legal and financial team. WOO Funds is not a stock exchange platform recognized by the Securities
             Exchange Board of India (SEBI) and/or under the Securities Contract (Regulation) Act, 1956.</p>
        <p align="justify">It does not allow any secondary market trading of securities on the Platform. You being a buyer or seller understand and confirm 
            that we fully understand the features and risk of buying unlisted shares from our platform. </p> 
        <p align="justify">You as a buyer or seller fully understand that investing in unlisted shares/securities is not suitable for all the investors. An investment in unlisted company’s securities is highly speculative and involves a high degree of risk and should only be
             considered a long-term investment and only after consulting your investment advisor(s).</p>           
    </div>
{% endblock %}

    